html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  background-color: lightgrey;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.title {
  grid-area: header;
}
.stats {
  grid-area: statmenu;
}
.battle {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop {
  grid-area: right;
}
.enemies {
  grid-area: footer;
}
.game-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "statmenu main right"
    "footer footer footer";
  grid-template-columns: 20% 60% 19%;
  grid-template-rows: 18% 60% 20%;
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  height: 100vh;
  width: inherit;
}
.game-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0;
  font-size: 30px;
}

.item1 {
  grid-area: header2;
}
.item2 {
  grid-area: levelmenu;
}
.item3 {
  grid-area: main2;
}
.item4 {
  grid-area: right2;
}
.chara-info-container {
  display: grid;
  grid-template-areas:
    "header2 header2"
    "levelmenu main2"
    "right2 right2";
  gap: 0px;
  background-color: inherit;
  padding: 0px;
  height: fit-content;
  width: fit-content;
}
.chara-info-container > div {
  background-color: inherit;
  text-align: center;
  padding: 0px;
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  /* display: inline-block; */
}
.nametag {
  border: 2px solid black;
  /* display: inline-block; */
  /* position: relative: */
  font-size: 14px;
  font-weight: bold;
  top: 0;
}
/* .chara-info {
  border: 2px solid blue;
  display: inline-block;
  width: fit-content;
} */

.menu {
  border: 2px solid black;
  flex-direction: row;
  display: inline-block;
  width: fit-content;
}
.finalizer {
  /* border: 2px solid gold; */
  background-color: gold;
  display: inline-block;
  align-content: center;
}

.stat-row {
  border: 1px solid purple;
}
span {
  /* justify-content: start; */
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
}
input {
  /* justify-content: flex-end; */
  height: 25px;
  width: 26px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  background-color: aliceblue;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
button {
  vertical-align: middle;
}
.p-pic {
  height: 100px;
  width: 150px;
}
.hp,
.atk,
.def,
.spd,
.mag,
.mdef,
.acc,
.hp2,
.atk2,
.def2,
.spd2,
.mag2,
.mdef2,
.acc2,
.equipvals,
.cost,
.cost1,
.cost2,
.cost3,
.cost4,
.cost5,
.foehp,
.foeatk,
.foemag,
.foeacc,
.foedef,
.foemdef,
.foespd {
  background-color: inherit;
  border: none;
}
#name {
  width: auto;
}
.sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.equipvals {
  width: auto;
}

.enemies {
  width: auto;
}
.enemylist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* .enemymenu {
  /* border: 2px solid pink; */
/* width: fit-content; 
} */
.playerstats {
  font-size: 14px;
  font-weight: bold;
}
/* Hiding arrows on input number field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
